<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <img src="https://cdn-icons-png.flaticon.com/512/2593/2593627.png" alt="Finbot Icon" class="icon">
                Finbot
            </h1>
            <p class="description">AI-powered chatbot designed to analyse corporate financial performance from 10-K and 10-Q documents.</p>
        </div>
        <div class="chatbox" id="chatbox">
            <div class="message message-bot">
                <div class="message-content">
                    Welcome to Finbot! Upload a PDF to start.
                </div>
            </div>
        </div>
        <div class="upload-section">
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="fileInput" class="custom-file-upload">
                    <input type="file" name="file" id="fileInput">
                    Select PDF File
                </label>
                <button type="submit" class="btn">Upload</button>
                <div id="progressWrapper">
                    <progress id="progressBar" value="0" max="100"></progress>
                    <span id="processingText">Processing...</span>
                </div>
            </form>
        </div>
        <div class="input-section">
            <input type="text" id="queryInput" placeholder="Ask a question..." class="query-input">
            <button id="queryButton" class="btn">Send</button>
        </div>
        <div class="reset-section">
            <button id="resetButton" class="btn">Restart Chat</button>
        </div>
        <div class="links">
            Sample 10-K Report for 2024:
            <a href="https://www.sec.gov/ix?doc=/Archives/edgar/data/789019/000095017024087843/msft-20240630.htm" target="_blank">Microsoft 10-K Report 2024</a>
            <br>Search for other 10-K and 10-Q documents:
            <a href="https://www.sec.gov/search-filings" target="_blank">SEC Search Filings</a>
        </div>
    </div>

    <script>
        function appendMessage(sender, message) {
            var chatbox = document.getElementById('chatbox');
            var messageDiv = document.createElement('div');
            messageDiv.classList.add('message', `message-${sender}`);
            var messageContent = document.createElement('div');
            messageContent.classList.add('message-content');
            messageContent.innerText = message;
            messageDiv.appendChild(messageContent);
            chatbox.appendChild(messageDiv);
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData();
            var fileInput = document.getElementById('fileInput');
            formData.append('file', fileInput.files[0]);

            document.getElementById('progressWrapper').style.display = 'inline-flex';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    document.getElementById('progressBar').value = percentComplete;
                }
            };

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    if (data.status === 'success') {
                        appendMessage('bot', data.message);
                    } else {
                        appendMessage('bot', 'Failed to upload file. Please try again.');
                    }
                } else {
                    appendMessage('bot', 'Error occurred: ' + xhr.statusText);
                }
                document.getElementById('progressBar').value = 0;
                document.getElementById('progressWrapper').style.display = 'none';
            };

            xhr.send(formData);
        });

        document.getElementById('queryButton').addEventListener('click', function() {
            var queryInput = document.getElementById('queryInput');
            var query = queryInput.value;
            queryInput.value = '';

            appendMessage('user', query);

            fetch('/query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ query: query })
            }).then(response => response.json())
              .then(data => {
                  appendMessage('bot', data.response);
              }).catch(error => {
                  appendMessage('bot', 'Error occurred: ' + error.message);
              });
        });

        document.getElementById('resetButton').addEventListener('click', function() {
            fetch('/reset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
              .then(data => {
                  if (data.status === 'success') {
                      appendMessage('bot', data.message);
                      document.getElementById('chatbox').innerHTML = '';
                  } else {
                      appendMessage('bot', 'Failed to reset. Please try again.');
                  }
              }).catch(error => {
                  appendMessage('bot', 'Error occurred: ' + error.message);
              });
        });
    </script>
</body>
</html>
